* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
h1 {
  text-align: center;
  margin: 150px;
  color: white;
}
body {
  font-family: "Zen Dots", cursive, sans-serif;
  background-image: url(./ufo-7280415.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  height: 100vh;
}
/* label{
    display: inline-block;
    width: 110px;
    margin: 10px;
    font-weight: 900;
} */
.save-clear {
  text-align: center;
}
.in {
  box-shadow: inset 60px 0 120px #f0f;
  width: 135px;
  height: 30px;
  border-radius: 8px;
  border:solid 0.2px;
  margin: 5px;
  text-align: center;
  opacity: 50%;
  background-color: black;
  color: yellow;
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #0ba9ca, 0 0 30px #0ba9ca,
  0 0 40px #0ba9ca, 0 0 50px #0ba9ca;
}
#sec-code {
  width: 110px;
  text-align: center;
  margin-left: 15px;
  padding-left: 8px;
}
form {
  margin: 220px 810px 100px 880px;
  padding: 40px;
  width: 100px;
}
.but {
  border-style: none;
  border-radius: 10px;
  padding: 5px 15px;
  margin-top: 15px;
  margin-left: 45px;
  background-color: black;
  color: yellow;
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #0ba9ca, 0 0 30px #0ba9ca,
  0 0 40px #0ba9ca, 0 0 50px #0ba9ca;
}
.but:hover {
  background-color: coral;
  color: white;
  cursor: pointer;
}
